:root {
	--color-accent: #4036ed;
	--color-bg-vivid: #c7c8f6;
	--color-bg-soft: #edecfc;
	--color-bg-grey: #fbfbfd;
	--color-text-dark: #141719;
	--color-text-light: #505f98;
}

html {
	scroll-behavior: smooth;
}

body {
	background: white;
	color: var(--color-text-dark);
	margin: 0;
	font-family: Neue Haas Grotesk Display Pro, sans-serif;
	font-size: 18px;
	font-weight: 450;
	word-wrap: break-word;
}

input {
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	text-overflow: ellipsis;
}

input::placeholder {
	color: var(--color-text-light);
}

input::-webkit-calendar-picker-indicator {
	opacity: 0;
}

#nav-bar {
	height: fit-content;
	margin: 0;
	padding: 25px 0;
	flex-wrap: wrap;
}

#main-content {
	padding: 0 10vw;
}

#choices {
	flex-wrap: wrap;
	margin: 0;
}

.section {
	margin: 4vh 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	column-gap: 5vw;
}

.section.nested {
	margin: 0;
}

.section.narrow {
	margin: 0;
	column-gap: 1vw;
}

.section:last-child {
	margin: 4vh 0 8vh;
}

.section.nested:last-child, .section.narrow:last-child {
	margin: 0;
}

.flex-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.flex-col {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

.space-rows {
	row-gap: 5vh;
}

.space-columns {
	column-gap: 5vw;
}

.align-top {
	align-items: start;
}

.bold {
	font-weight: 600;
}

.huge {
	font-size: 100px;
	font-weight: 600;
	line-height: 66px;
	letter-spacing: 2.5px;
	margin: 1vh .25vw 2.5vh;
}

.heading-1 {
	font-size: 50px;
	font-weight: 600;
	line-height: 66px;
	letter-spacing: 1.5px;
	margin: 0 0 4vh;
}

.heading-2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 0 4vh;
}

.heading-3 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin: 0 0 2.5vh;
}

.heading-4 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin: 0 0 2.5vh;
}

.display {
	font-size: 22px;
	letter-spacing: 0.5px;
	margin: 0;
}

.subtitle {
	font-size: 20px;
	line-height: 34px;
	letter-spacing: 0.5px;
	margin: 0 0 5vh;
}

.body {
	line-height: 30px;
	margin: 0 0 4vh;
}

.helper {
	font-size: 14px;
	font-weight: 600;
	margin: 0;
}

.heading-4:has(+ .helper) {
	margin: 0 0 0.5vh;
}

.heading-4 + .helper {
	margin: 0 0 2vh;
}

.subtitle:last-child, .body:last-child {
	margin: 0;
}

.body + .body {
	margin-top: -2.5vh;
}

.body:has(+ .display) {
	margin: 0 0 2.5vh;
}

.body > a {
	text-decoration: underline;
}

.body > a:hover, .body > a:active {
	color: var(--color-text-light);
}

.justify-start {
	justify-content: start;
}

.justify-center {
	justify-content: center;
}

.stretch {
	align-items: stretch;
}

.text-center {
	text-align: center;
}

.flex-grow-1 {
	flex: 1 1 0px;
}

.flex-grow-2 {
	flex: 2 0.5 0px;
}

.flex-grow-3 {
	flex: 3 0.33 0px;
}

.flex-grow-4 {
	flex: 4 0.25 0px;
}

.flex-grow-5 {
	flex: 5 0.2 0px;
}

.show {
	display: flex;
}

.hide {
	display: none !important;
}

.logo {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0.75px;
}

.btn-primary {
	padding: 7.5px 15px;
	border-radius: 50px;
	color: white;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	background: linear-gradient(
		to top,
		white 50%,
		var(--color-accent) 50%)
	;
	background-size: 100% 210%;
	background-position: right 2.5%;
	transition: all .1s ease-in-out;
}

a.btn-primary {
	text-decoration: none;
}

a.btn-primary:hover, a.btn-primary:active {
	background-position: right 97.5%;
	color: var(--color-accent);
}

.btn-secondary {
	border: 2px solid var(--color-text-dark);
	padding: 7.5px 15px;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.btn-secondary.input {
	border-width: 1px;
	cursor: text;
	margin: .75vh 0;
}

a.btn-secondary {
	text-decoration: none;
}

a.btn-secondary:hover, a.btn-secondary:active {
	border-color: var(--color-text-light);
	color: var(--color-text-light);
}

.btn-tertiary {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-decoration: underline;
	cursor: pointer;
}

a.btn-tertiary:hover, a.btn-tertiary:active {
	color: var(--color-text-light);
}

.nav-left > .btn-tertiary, .nav-right > .btn-tertiary {
	text-decoration: none;
}

.nav-left {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	justify-content: start;
}

.nav-right {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	justify-content: end;
}

.nav-margin-r {
	padding: 0 1vw 0 0;
}

.nav-margin-l {
	padding: 0 0 0 1vw;
}

.nav-margin-lr {
	padding: 0 1vw 0 1vw;
}

.card {
	padding: 4vh 2vw;
	border-radius: 25px;
}

#main-content > .card {
	padding: 6vh 3vw;
	border-radius: 50px;
}

.card.accent {
	background: var(--color-accent);
}

.card.accent > p {
	color: white;
}

.card.accent > .body {
	font-weight: 300;
}

.card.vivid {
	background: var(--color-bg-vivid);
}

.card.grey {
	background: var(--color-bg-grey);
}

.card.soft {
	background: var(--color-bg-soft);
}

.card.white {
	background: white;
}

.card.border {
	border: 2px solid var(--color-text-dark);
}

.card:last-child {
	margin: 0;
}

.gradient {
	margin: 1vh 0 1.25vh;
	height: 10px;
	border-radius: 100px;
}

*:has(+ .gradient), .gradient + * {
	padding: 0 5px;
}

.gn-yl-rd {
	background-image: linear-gradient(
		to right,
		#f0f921,
		#f9dc24,
		#fec029,
		#fca636,
		#f68f44,
		#ed7953,
		#e16462,
		#d35171,
		#c33d80,
		#b12a90,
		#9c179e,
		#8405a7,
		#6a00a8,
		#5002a2,
		#330597,
		#0d0887
	);
}

.grayscale {
	background-image: linear-gradient(
		to right,
		#37447e,
		#bac3e5,
		#e7ecff
	);
}

.footer {
	background: var(--color-bg-soft);
	padding: 10vh 10vw;
}

.lottery-vis {
	margin: 5vh 0 0;
}

.body > .lottery-vis {
	margin: 1vh 0 0;
}

a > .material-symbols-outlined {
	font-size: 32px;
	margin-left: .15em;
	margin-right: -.15em;
}

.input > .material-symbols-outlined {
	margin-left: -.15em;
	margin-right: .15em;
}

a.icon > .material-symbols-outlined {
	margin: 0;
	font-size: 20px;
}

a.icon {
	border-width: 1px;
	padding: 7.5px;
	margin: .75vh 0;
}